<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/styles.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Source+Code+Pro:wght@400;500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
        <title>Youtify - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <a href="/" class="box logo">
            </a>
            <nav>
                <div id="topnav">
                    <a href="/">Home</a>
                    <a href="/transfer">Transfer</a>
                    <a href="/about">About</a>
                    <a href="/news">News</a>
                </div>
                <a class="logout" id="logout" href="/logout">Logout</a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <div class="footer">
                <span class="footer_links">
                    <p><a href="/">Home</a></p>
                    <p><a href="/transfer">Transfer</a></p>
                    <p><a href="/about">About</a></p>
                    <p><a href="/news">News</a></p>
                </span>
                <span class="footer_newsletter">
                    <p>Any update on the website will be announced via Newsletter.</p>
                    <input type="email" id="email" name="email" placeholder="Insert Email">
                    <button class="newsletter-button" type="submit">Join Newsletter</button>
                </span>
            </div>
        </footer>
    </body>
</html>