<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/favicon_youtify.ico">
    <title>Youtify - Register</title>
</head>
<body>
    <header>
        <a href="/" class="box logo"></a>
        <br>
    </header>
    <main class="register">
        <h2 class="welcome">Welcome to Youtify!</h2>
        <p>Insert a new Username and password to register to Youtify.</p>
        <form action="/register" method="post">
            <div>
                <input type="text" name="username" id="username" placeholder="Username" autocomplete="off" autofocus required>
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" autofocus required>
            </div>
            <div>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autocomplete="off" autofocus required>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <p>Already have an account? <a href="/login">Log In</a></p>
    </main>
    <footer class="register_footer"></footer>
</body>
</html>