{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <br>
    <h3>How to transfer playlists.</h3>
    <div>
        <p>- First, paste the URL of the playlist, only the part after "list=" is needed, but if you paste more,
            don't worry! The app will take care for you, make sure to copy the entire string.</p>
            <img src="/static/playlist_link.png" width="600px">
            <br><br>
        <p>- Second, name your playlist and set if you want your playlist to be public or not,
            if you don't choose any name the default will be New playlist.</p>
            <img src="/static/playlist_name.png" width="600px">
        <br>
        <p>- Third, click on <img id="transfer_button" src="/static/button.png" width="70px"> and enjoy as your playlist gets uploaded on your profile!</p>
        <br><hr>
        <div class="transfer">
            <form action="/transfer" method="post">
                <input type="text" id="playlist_url" name="playlist_url" placeholder="Playlist URL" autocomplete="off" autofocus required>
                <input type="text" id="pl_name" name="pl_name" placeholder="Playlist Name" autocomplete="off" autofocus aria-required>
                <input type="checkbox" name="public" id="public" value="Public" checked>
                <label for="public">Public Playlist</label>
                <p><button type="submit">Transfer</button></p>
            </form>
        </div>
        <h3 id="important">Keep in mind.</h3>
        <p id="transfer_bottom">This app extracts information from each video's title, so there may not always be a match on Spotify, to maximize the chances,
            try to use songs' official music videos as often as possible, in order to avoid titles that can not be analysed.</p>
    </div>
{% endblock %}