{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h3 class="about_top">About me</h3>
    <p>Hi! My name is Thomas and i'm a programming student from Italy, I'm currently taking CS50's programming course, in fact, this app
        is my final project for it.
    </p>
    <br>
    <h3>CS50's Final Project</h3>
    <p>This app is my Final Project for CS50's course, I decided to make this project because I really enjoyed the making of Finance's problem set,
        so I decided that I wanted to build a web application on my own, a friend of mine had a long playlist on Youtube that he wanted to transfer to Spotify but obviously it was too tidious to do,
        that was the moment I decided to make an app that could transfer the playlist for him, since I liked the idea of a web application as final project the two things matched perfectly.
    </p>
    <br>
    <h3>How it works</h3>
    <p class="about_bottom">This web application runs on <a style="color: #7FB77E;" href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a> framework, the main script used for transferring the playlist is written in Python,
        it uses Youtube and Spotify APIs to speak with the services and get the information it needs to operate, then the script is modeled with HTML and CSS to create a website in order to make the User Experience easier.</p>
{% endblock %}