<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Source+Code+Pro:wght@400;500&display=swap" rel="stylesheet">
        <title>Error 403 - Forbidden</title>
        <style>
            body {
                padding-top: 50px;
                background-color: black;
                color: white;
                text-align: center;
                font-family: Source Code Pro, sans-serif;
            }

            body a {
                color: white;
            }

        </style>
    </head>
    <body>
        <h1>Error 403 - Forbidden</h1>
        <p>error: {{ value }}</p>
        <a href="..">Try Again</a>
    </body>
</html>