{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h3 class="index_top">What is Youtify?</h3>
    <p>Have you ever wanted to transfer songs from a Youtube playlist to Spotify but gave up
        because it would be too boring and tiring? Well, if this is your case Youtify will help you:
        this app transfers all the songs (or the majority) from one service to another.
        To try it out head to the <a style="color: #7FB77E;" href="/transfer">Transfer</a> section.</p>
    <br><br>
    <h3>How does it work?</h3>
    <p class="index_bottom">Youtify is a <a style="color: #7FB77E;" href="https://flask.palletsprojects.com/en/2.2.x/">Flask</a> based application, functioning is simple,
        for every song in the playlist, the app takes the title and artist's name and add it to Spotify.<br>For further information, please head to
        the <a style="color: #7FB77E;" href="/about">About</a> section.</p>
{% endblock %}