{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <p class="news">I don't have much news at the moment, for now this application is served locally and I'm not thinking about
        deploying it online at the moment, this app was created as final project for CS50's course.<br><br> in the future I could decide to deploy
        this website on the internet, if that's the case, I will share updates via Newsletter, if you care to receive updates please subscribe to the newsletter at the bottom of the page.
    </p>
{% endblock %}