header {
    background-color: #7FB77E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 4px #6c9a6b;
}

.box {
    width: 150px;
    height: 100px;
}

.logo {
    background-image: url(/static/youtify.png );
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
}

nav a:hover {
    color: white;
}

.logout:hover {
    color: #e70000
}

#logout, #topnav {
    display: inline;
    position: relative;
    top: 35px;
    right: 30px;
}

main {
    font-family: Raleway, sans-serif;
    background-color: #f0fff0;
    padding: 5px 20px;
}

main h3 {
    padding: 10px;
    padding-bottom: 1px;
    font-size: 20px;
}

main p {
    font-size: 18px;
}

.transfer {
    text-align: center;
    padding-top: 20px;
}

input[type=text], input[type=email], input[type=password] {
    height: 25px;
    width: 200px;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    outline: none;
    transition: 0.4s;
    border: solid 2px #bebebe;
    border-radius: 5px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: solid 2px #598058;
}

button {
    background-color: #598058;
    font-family: Raleway, sans-serif;
    color: white;
    height: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.newsletter-button {
    background-color: #598058;
    font-weight: 500;
}

footer {
    background-color: #b1e7b0;
    padding: 10px;
    border-top: solid 5px #D3F4D3;
}

.footer {
    display: flex;
    flex-direction: row;
    font-family: Raleway, sans-serif;
    justify-content: space-between;
}

.footer_newsletter {
    margin-right: 200px;
}

.footer_links {
    margin-left: 50px;
}

.footer_links a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 0.4s;

}

.footer_links a:hover {
    color: white;
}

#transfer_button {
    position: relative;
    top: 10px;
}

.login, .register {
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.login input, .register input {
    margin: 1px;
}

.login_footer, .register_footer {
    background-color: #b1e7b0;
    height: 150px;
}

#important {
    text-align: center;
}

.index_top {
    padding-top: 90px;
}

.index_bottom {
    padding-bottom: 90px;
}

.about_top {
    padding-top: 30px;
}

.about_bottom {
    padding-bottom: 30px;
}

.news {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 155px;
}

#transfer_bottom {
    padding-bottom: 30px;
}

.red-mode {
    background-color: #b77e7e;
}